.close-hunt-wrapper {
  position: relative;
  display: flex;
  margin: 0 auto;
  width: 90%;
  padding: 100px 0;
  flex-direction: column;

  h3 {
    position: relative;
    margin-bottom: 50px;
    font-size: 50px;
    color: $gray;
  }

  form {
    position: relative;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;

    select {
      position: relative;
      padding: 5px;
      color: $gray;
    }

    h5 {
      position: relative;
      margin-left: 10px;
      margin-right: 30px;
      font-size: 20px;
      color: $gray;
    }

    button {
      position: relative;
      padding: 8px 15px;
      font-family: "Sora", sans-serif;
      font-size: 17px;
      border: none;
      border-radius: 5px;
      background: $gray;
      color: white;
    }

  }

  p {
    position: relative;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 300;
    color: #30303080;
  }

  .button-wrapper {
    position: relative;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;

    a {
      position: relative;
      padding: 12px 15px;
      font-family: "Sora", sans-serif;
      font-size: 17px;
      border: 2px solid $gray;
      border-radius: 5px;
      background: $gray;
      color: white;
      transition: all 0.35s ease-in-out;

      &:hover {
        background: transparent;
        color: $gray;
      }

      &:first-child {
        margin-right: 30px;
      }

    }

  }

}