#masthead {
  position: relative;
  height: calc(100vh - 100px);
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  .left-part {
    position: relative;
    display: flex;
    flex-direction: column;

    h1 {
      position: relative;
      font-size: 115px;
      text-align: left;
      color: $gray;
    }

    h3 {
      position: relative;
      max-width: 550px;
      margin: 10px auto 75px;
      font-size: 25px;
      font-weight: 300;
      line-height: 110%;
      text-align: left;
      color: $gray;
    }

    a {
      position: relative;
      width: fit-content;
      text-decoration: none;
      font-size: 25px;
      padding: 10px 18px;
      border: 2px solid $gray;
      border-radius: 5px;
      background: $gray;
      color: white;
      cursor: pointer;
      transition: all 0.35s ease-in-out;

      &:hover {
        background: transparent;
        color: $gray;
        transition: all 0.35s ease-in-out;
      }

    }

  }

  .right-part {
    position: relative;
    height: auto;
    width: 40vw;
    background: $gray;
    border-radius: 5px;
    overflow: hidden;

    img {
      position: relative;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

  }

}