@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

body, html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, a, p {
  font-family: "Sora", sans-serif;
  line-height: 100%;
  letter-spacing: 0;
  text-decoration: none;
  margin: 0;
}

header {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 30px 75px;
  background: #303030;
}
header .logo {
  position: relative;
  font-size: 45px;
  text-decoration: none;
  color: white;
}
header .right-part {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
header .right-part .hunt {
  position: relative;
  font-size: 22px;
  text-decoration: none;
  color: white;
  margin-right: 75px;
}
header .right-part .hunt:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: -3px;
  height: 2px;
  width: 0;
  background: white;
  transition: width 0.35s ease-in-out;
}
header .right-part .hunt:hover:before {
  width: 100%;
  transition: width 0.35s ease-in-out;
}
header .right-part .account {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 12px 18px;
  border-radius: 5px;
  background: white;
}
header .right-part .account .icon {
  position: relative;
  height: 25px;
  width: 25px;
  margin-right: 10px;
}
header .right-part .account .icon img {
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
header .right-part .account p {
  position: relative;
  margin: 0;
  font-size: 16px;
  color: #303030;
}

#masthead {
  position: relative;
  height: calc(100vh - 100px);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#masthead h1 {
  position: relative;
  margin: 0 auto;
  font-size: 100px;
  color: #303030;
}
#masthead h3 {
  position: relative;
  margin: 20px auto 100px;
  font-size: 20px;
  font-weight: 300;
  color: #303030;
}
#masthead a {
  position: relative;
  text-decoration: none;
  font-size: 20px;
  padding: 5px 10px;
  border: 1px solid #303030;
  border-radius: 5px;
  background: white;
  color: #303030;
  cursor: pointer;
  transition: all 0.35s ease-in-out;
}
#masthead a:hover {
  background: #303030;
  color: white;
  transition: all 0.35s ease-in-out;
}

#login {
  position: relative;
  height: calc(100vh - 110px);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#login h2 {
  position: relative;
  margin: 0 auto 30px;
  font-size: 50px;
  color: #303030;
}
#login .login-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 30px;
  background: #303030;
  border-radius: 5px;
}
#login .login-wrapper form {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
#login .login-wrapper form label {
  position: relative;
  margin-bottom: 10px;
  font-family: "Sora", sans-serif;
  font-weight: 300;
  font-size: 30px;
  color: white;
}
#login .login-wrapper form input, #login .login-wrapper form input:-webkit-autofill,
#login .login-wrapper form input:-webkit-autofill:hover,
#login .login-wrapper form input:-webkit-autofill:focus,
#login .login-wrapper form input:-webkit-autofill:active {
  position: relative;
  font-family: "Sora", sans-serif;
  font-size: 20px !important;
  height: 50px;
  width: 300px;
  outline: none;
  border: none;
  text-indent: 15px;
  background-image: none !important;
  background-color: white !important;
  -webkit-text-fill-color: #303030 !important;
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  color: #303030 !important;
  border-radius: 5px;
}
#login .login-wrapper form .first {
  margin-bottom: 30px;
}
#login .login-wrapper form button {
  position: relative;
  padding: 5px 13px;
  margin: 30px auto 0;
  font-family: "Sora", sans-serif;
  font-size: 20px;
  border: none;
  border-radius: 5px;
}
#login .no-account {
  position: relative;
  margin: 20px auto 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#login .no-account p, #login .no-account a {
  position: relative;
  font-size: 15px;
  font-weight: 300;
  text-decoration: none;
  color: #303030;
}
#login .no-account a {
  margin-left: 5px;
  text-decoration: 1px solid underline;
  text-underline-offset: 1px;
}

#register {
  position: relative;
  height: calc(100vh - 110px);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#register h2 {
  position: relative;
  margin: 0 auto 30px;
  font-size: 50px;
  color: #303030;
}
#register .register-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 30px;
  background: #303030;
  border-radius: 5px;
}
#register .register-wrapper form {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
#register .register-wrapper form div {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: initial;
}
#register .register-wrapper form div label {
  position: relative;
  height: auto;
  width: auto;
  line-height: 100%;
  margin-bottom: 10px;
  font-family: "Sora", sans-serif;
  font-weight: 300;
  font-size: 30px;
  color: white;
  white-space: nowrap;
}
#register .register-wrapper form div input, #register .register-wrapper form div input:-webkit-autofill,
#register .register-wrapper form div input:-webkit-autofill:hover,
#register .register-wrapper form div input:-webkit-autofill:focus,
#register .register-wrapper form div input:-webkit-autofill:active {
  position: relative;
  font-family: "Sora", sans-serif;
  padding: 0;
  font-size: 20px !important;
  height: 50px;
  width: 100%;
  outline: none;
  border: none;
  text-indent: 15px;
  background-image: none !important;
  background-color: white !important;
  -webkit-text-fill-color: #303030 !important;
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  color: #303030 !important;
  border-radius: 5px;
}
#register .register-wrapper form button {
  position: relative;
  padding: 5px 13px;
  margin: 30px auto 0;
  font-family: "Sora", sans-serif;
  font-size: 20px;
  border: none;
  border-radius: 5px;
}
#register .register-wrapper form .goRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#register .register-wrapper form .goRow div {
  height: fit-content;
  width: 325px;
  padding: 0;
  margin: 0;
  outline: none;
}
#register .register-wrapper form .goRow div input, #register .register-wrapper form .goRow div input:focus {
  outline: none;
}
#register .no-account {
  position: relative;
  margin: 20px auto 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#register .no-account p, #register .no-account a {
  position: relative;
  font-size: 15px;
  font-weight: 300;
  text-decoration: none;
  color: #303030;
}
#register .no-account a {
  margin-left: 5px;
  text-decoration: 1px solid underline;
  text-underline-offset: 1px;
}

.hunt-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  padding: 100px 0;
}
@media screen and (max-width: 576px) {
  .hunt-wrapper {
    width: 100%;
    padding: 35px 20px;
  }
}
.hunt-wrapper .goBack {
  position: relative;
  width: fit-content;
  margin-bottom: 50px;
  padding: 10px 18px;
  border-radius: 5px;
  font-family: "Sora", sans-serif;
  font-size: 23px;
  color: white;
  background: #303030;
}
.hunt-wrapper .top-part {
  position: relative;
  margin-bottom: 75px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}
.hunt-wrapper .top-part h1 {
  position: relative;
  margin-right: 150px;
  font-size: 50px;
  color: #303030;
}
.hunt-wrapper .top-part a {
  position: relative;
  padding: 10px 15px;
  font-family: "Sora", sans-serif;
  font-size: 17px;
  border: none;
  border-radius: 5px;
  background: #303030;
  color: white;
}
.hunt-wrapper .top-part.huntPassed {
  margin-top: 100px;
}
.hunt-wrapper .all-hunts {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  width: 100%;
}
@media screen and (max-width: 576px) {
  .hunt-wrapper .all-hunts {
    display: grid;
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
.hunt-wrapper .all-hunts .hunt {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  border-radius: 5px;
  background: #303030;
}
.hunt-wrapper .all-hunts .hunt .isMyHunts {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  bottom: 10px;
  right: 10px;
  height: 23px;
  width: 23px;
  background: white;
  border-radius: 5px;
}
.hunt-wrapper .all-hunts .hunt .isMyHunts img {
  position: relative;
  top: 3px;
  height: 100%;
  width: 100%;
}
.hunt-wrapper .all-hunts .hunt .left-part {
  position: relative;
  border-radius: 5px 0 0 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: 100%;
  width: 20%;
  background: #303030;
}
.hunt-wrapper .all-hunts .hunt .left-part img {
  position: relative;
  margin-bottom: 20px;
  height: 90px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.hunt-wrapper .all-hunts .hunt .left-part .date {
  position: relative;
  font-size: 13px;
  color: white;
  font-weight: 300;
}
.hunt-wrapper .all-hunts .hunt .right-part {
  position: relative;
  padding: 15px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
.hunt-wrapper .all-hunts .hunt .right-part .top-part {
  position: relative;
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}
.hunt-wrapper .all-hunts .hunt .right-part .top-part .left-part {
  position: relative;
  display: flex;
  align-items: start;
  flex-grow: 1;
  flex-direction: column;
  justify-content: start;
  background: none;
}
.hunt-wrapper .all-hunts .hunt .right-part .top-part .left-part .name {
  position: relative;
  font-size: 40px;
  color: white;
  font-weight: 500;
}
.hunt-wrapper .all-hunts .hunt .right-part .top-part .left-part .description {
  position: relative;
  margin-top: 13px;
  font-size: 18px;
  color: white;
  font-weight: 300;
}
.hunt-wrapper .all-hunts .hunt .right-part .top-part .right-part {
  position: relative;
  padding: 0;
  height: 100%;
  width: 30%;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}
.hunt-wrapper .all-hunts .hunt .right-part .top-part .right-part .price {
  position: relative;
  font-size: 19px;
  color: white;
}
.hunt-wrapper .all-hunts .hunt .right-part .bottom-part {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.hunt-wrapper .all-hunts .hunt .right-part .bottom-part a {
  position: relative;
  margin-right: 10px;
  padding: 8px 12px;
  font-family: "Sora", sans-serif;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  background: white;
  color: #303030;
  transition: all 0.35s ease-in-out;
}
.hunt-wrapper .all-hunts .hunt .right-part .bottom-part a:last-child {
  margin-right: 0;
}
.hunt-wrapper .all-hunts .hunt .right-part .bottom-part a:hover {
  background: #303030;
  color: white;
}

.single-hunt {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.single-hunt .left-part {
  position: relative;
  padding: 20px;
  height: 250px;
  width: 250px;
  border-radius: 5px;
  overflow: hidden;
  background: #303030;
}
.single-hunt .left-part img {
  position: relative;
  border-radius: 5px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.single-hunt .right-part {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}
.single-hunt .right-part p {
  position: relative;
  margin-bottom: 20px;
  font-family: "Sora", sans-serif;
  line-height: 120%;
  font-size: 20px;
  color: #303030;
  max-width: 700px;
}
.single-hunt .right-part p span {
  position: relative;
  padding: 3px 7px;
  background: #303030;
  border-radius: 5px;
  color: white;
  margin-right: 10px;
}
.single-hunt .right-part p:first-line {
  line-height: 150%;
}

/*# sourceMappingURL=style.css.map */
