{% extends 'base.html.twig' %}

{% block title %}Wanted{% endblock %}

{% block body %}

    <section id="masthead">

        <div class="left-part">

            <h1>Wanted</h1>

            <h3>Le premier réseau de chasseur de tête au monde</h3>

            <a href="{{ path("app_hunt_index_hunt") }}">Partir à la chasse</a>

        </div>

        <div class="right-part">

            <img src="{{ asset('img/fbi-open-up.gif') }}" alt="FBI meme">

        </div>

    </section>

{% endblock %}
