{% extends 'base.html.twig' %}

{% block title %}Wanted{% endblock %}

{% block body %}

    <section id="masthead">

        <h1>Wanted</h1>

        <h3>Le premier réseau de chasseur de tête au monde</h3>

        <a href="{{ path("app_hunt_index_hunt") }}">Partir à la chasse</a>

    </section>

{% endblock %}
