{% extends 'base.html.twig' %}

{% block title %}Hello TargetController!{% endblock %}

{% block body %}


    <section id="target-wrapper">

        <h2>Target</h2>

        <div class="login-wrapper">

            {{ form(form) }}
            {% if message is not null %}
                <p class="text-danger">{{message}}</p>
            {% endif %}
        </div>

    </section>

{% endblock %}
