{% extends 'base.html.twig' %}

{% block title %}Hello HuntController!{% endblock %}

{% block body %}
    <div class="container">
        <h1>Form magueule 👣</h1>
        <div class="col-4">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}