{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil
{% endblock %}

{% block body %}

    <div class="hunt-wrapper">

        <div class="top-part">
            <h1>Modifier mon profil</h1>
            <a href="{{ path('app_logout') }}">Déconnexion</a>
        </div>

    </div>

    {{ form(form) }}

{% endblock %}
